
body {
  margin: 0 auto;
  max-width: 100%;
}

/* NAVBAR */
#navbar {
  display: absolute;
  margin: 0 auto;
  padding: 10px;
  background-color: cornflowerblue;
  color: whitesmoke;
}

#home-icon {
  display: flex;
  align-self: start;
}

#nav-buttons {
  display: flex;
  justify-content: flex-end;
}

.link-button {
  display: flex;
  background-color: whitesmoke;
  color: black;
  font-size: 12px;
  margin-left: 10px;
  border-radius: 5px;
}
/* CARD */
.card-container {
  margin: 0 auto;
  /* border: 2px solid red; */
}

.card {
  width: 30%;
  margin: 10px;
}

/* CREATE CARD */
.create-card-container {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

#card-header {
  display: flex;
  justify-content: center;
}

.card-form {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.form-control {
  width: 300px;
  display: flex;
  justify-content: center;
}

.create-button {
  color: whitesmoke;
}

/* SEARCH RESULTS */

#search-results-header {
  color: rgb(36, 105, 233);
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.search-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search-card {
  max-width: 200px;
  margin: 5px;
  padding: 10px;
  border: 1px solid rgb(36, 105, 233);
  border-radius: 10px;
}

.search-card-title {
  color: rgb(36, 105, 233);
}